<div class="chat_header">
  <div class="left_header">
    <div class="room_name">hogefuga</div>
  </div>
  <div class="right_header">
    <div class="delete_room">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat_main">
  <div class="messages">
    <div class="message">
      <div class="message_top">
        <div class="message_user_name">Tom</div>
        <div class="message_date">2020/3/31(Wed) 12:43:30</div>
      </div>
      <div class="message_down">
        <div class="message_text">
          おはよう
        </div>
      </div>
    </div>

    <div class="message">
      <div class="message_top">
        <div class="message_user_name">Tom</div>
        <div class="message_date">2020/3/31(Wed) 12:43:30</div>
      </div>
      <div class="message_down">
        <div class="message_text">
          おはよう
        </div>
      </div>
    </div>
  </div>
</div>

<div class="chat_footer">
  <form class="message_form">
    <div class="left_form">
      <input type="text" placeholder="type a message" class="form_text">
      <label class="form_image">
        <span class="image_file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
      <input type="submit" value="送信" class="form_submit">
  </form>
</div>

