.wrapper {
  display: flex;
}

.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-bar_header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create_chat {
  border: solid 1px lightblue;
  padding: 14px;
}

.create_chat a{
  text-decoration: none;
  color: deepskyblue;
  font-size: 10px;
}

.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 20px 40px 20px;
}

.room_name a{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
}

.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

.chat_header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.room_name {
  margin-top: 36px;
  font-size: 24px;
  color: #333;
}

.delete_room {
  margin-top: 40px;
}

.delete_room a {
  color: darkred;
  text-decoration: none;
  border: solid 1px darkred;
  padding: 20px;
}


.chat_main {
  height: calc(100vh - 90px - 100px);
  background-color: #FAFAFA;
  padding:46px 40px 0 40px;
  overflow: scroll;
}

.message{
  margin-bottom: 40px;
}
.message_top {
  margin-top: 10px;
  display: flex;
}

.message_user_name {
  font-size: 16px;
  color: #434A54;
}

.message_date {
  margin-left: 10px;
  font-size: 12px;
  color: #999;
}

.message_down {
  margin-top: 10px;
}

.message_text {
  font-size: 14px;
  color: #434A54;
}


.chat_footer {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}

.message_form {
  display: flex;
}

.left_form {
  width: 100%;
  background-color: white;
  display: flex;
}

.form_text {
  width: 100%;
  height: 50px;
  border: none;
  padding-left: 10px;
}

.form_image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}
.hidden {
  display: none;
}

.form_submit {
  margin-left: 15px;
  border: none;
  height: 50px;
  padding: 0 20px;
  background-color: #38AEF0;
  color: #FFFFFF;
  font-size: 16px;
}